<div class="modal-content pictureDetail">
    <div class="modal-header">
        <h3>Your name?</h3>
    </div>
    <div class="modal-body">
        <form class="form-group"></form>
        <label class="col-sm-2 control-label" for="userName">Your name:</label> <input class="col-sm-3 form-control" name="userName" data-bind="value: name" />
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-default" data-bind="click:done">OK</a>
        <a href="#" class="btn btn-default" data-bind="click:reset">Reset</a>
    </div>
</div>